div h1{
    text-align: center;
    color: white;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: white;
    color: #000080;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    color: #d4af37;
    font-weight: bold;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #d4af37;
    color: #000080;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid red;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}